//Colors
$primary-color: #FF9143;
$secondary-color: #333333;
$strong-dark-color: #1A1A1A;
$dark-color: #262A2C;
$grey-color: #696969;
$white-color: #FFFFFF;

//Greyscales
$grey-scales-one: #F4F4F6;
$grey-scales-two: #E5E6EB;
$grey-scales-three: #D3D5DA;
$grey-scales-four: #9EA3AE;
$grey-scales-five: #6C727F;
$grey-scales-six: #4D5461 ;
$grey-scales-seven: #212936;
$grey-scales-eight: #0B0A0F;