@import './assets/styles/main.scss';

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;

  background-image: url('./assets/images/background.png');
  background-repeat: repeat-y;
  background-size: cover;

  &__footer {
    background-color: $grey-scales-eight;
  }
}