.menu {
  transform: scaleX(-1);
  
  .menu__line:nth-child(2) {
    transition: all 0.3s;
    transform: none;
  }
  .menu__line:last-child {
    transition: all 0.3s;
    transform: none;
  }

  &:hover {
    .menu__line:nth-child(2) {
      transition: all 0.3s;
      transform: scaleX(0.75);
    }
    .menu__line:last-child {
      transition: all 0.3s;
      transform: scaleX(0.5);
    }
  }
}